*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    html,body{
        width: 100%;
        height: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform: initial;
       
       color: black;
    
    }
.main{
    min-height: 100vh;
    padding: 20px 40px;
    background: linear-gradient(yellow,orange,60deg);
}
.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}
#canvas{
    height: inherit;
    width: inherit;
}
.canvas{
    background-color: #fff;
    border: 1px solid black;
    border-radius: 8px;
    width: inherit;
    height: 350px;
    overflow: hidden;
    /* overflow hidden krne ka fayda nhi kyuki flow se uth gya hai upar */
}
h1{
    text-align: center;
}
button{
    width: fit-content;
    padding: 3px 9px;
    background-color: coral;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
}
.btnDiv{
    display: flex;
    
    /* justify-content: center; */
    align-items: center;
}
.canvas p{
    position: absolute;
    background-color: black;
    height:5px;
    width: 5px;
    border-radius: 100%;
}