*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    html,body{
        width: 100%;
        height: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform: initial;
       overflow-y: hidden;
    
    }

    .main{
        display: flex;
        justify-content: center;
        height: 100%;
        background: linear-gradient(125deg,rgba(0, 0, 255, 0.518),rgba(128, 0, 128, 0.551));
        padding: 50px 30px;
    }
    .container{
        padding: 5vw 3vw;
        background-color: rgb(228, 224, 224);
        border-radius: 2%;
        width: 100%;
        max-width: 400px;
    }
    .heading h1{
        display: flex;
        align-items: center;
    }
    .heading h1 img{
        height: 40px;
        width: 40px;
        margin-left: 20px;
    }
    .checkedTask p{
        text-decoration: line-through;
        flex-grow: 1;
        padding-bottom: 1.5px;
        margin-left: 10px;
    }
    .checkedTask{
        display: flex;
        align-items: center;
        padding: 1px 3px;
        justify-content: space-between;
    }
    .taskBlock p{
        
        flex-grow: 1;
        padding-bottom: 1.5px;
        margin-left: 10px;
    }
    .taskBlock{
        display: flex;
        align-items: center;
        padding: 1px 3px;
        justify-content: space-between;
        margin-top: 2px;
    }
    #close{
        padding-left: 2px;
    }
    .inputDiv{
        display: flex;
        border-radius: 20px;
        background-color: blanchedalmond;
        padding-left: 13px;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    #taskInput{
        flex-grow: 1;
        background: transparent;
        outline: none;
        border: none;
        padding-top: 5px;
        padding-bottom: 5px;
    
    }
    button{
        background-color: coral;
        border: none;
        color: white;
        width: fit-content;
        padding: 8px 25px;
        border-radius: 20px;
    }
    